services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      # (Windows fix if hot reload doesn't work)
      WATCHPACK_POLLING: "true"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env.local
