@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base page styling */
body {
  @apply bg-[#f6f8fb] text-slate-900;
}

@layer utilities {
  @keyframes shine {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  }
  .animate-shine {
    animation: shine 4s linear infinite;
  }
}
